*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vw;
    background-image: url(ChatGPT\ Image\ 26\ de\ out.\ de\ 2025\,\ 11_38_53.png);
}

div{
    background-color:black;
    width: 430px;
}